/* Navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App */
.MyBG {
    height: 100vh;
    background-image: url(./assets/images/cinema1.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

/* End App */
