/* Navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MyBG {
    height: 100vh;
    background-image: url(./assets/images/programming.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home {
    height: 90vh;
}