/* Navbar */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* App */
#MyBG {
    min-height: 100vh;
    max-height: fit-content;
    background-image: url(./assets/images/cinema1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#film,
#trending,
#upcoming {
    font-size: 13px;
    font-weight: 500;
}
/* End App */